.header__hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 555.72px;
    align-items: center;
}

.header__hero__left__title {
    max-width: 525.02px;
    width: 100%;

}

.header__hero__left__title h1 {
    width: 100%;
    /* font-family: Poppins; */
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    color: #22343D;
    margin-bottom: 18px;
}

.text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 45px;
    color: #22343D;
}

.hero {
    width: 100%;
    margin-top: 105px;
}

.header__hero__left__title__btns {
    max-width: 372.37px;
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__hero__left__title__btns__one {
    max-width: 178.05px;
    width: 100%;
    border-radius: 5px;
    height: 53px;
    cursor: pointer;
    border: 1px solid #BCD0E5;
    background-color: #02897A;
    transition: 0.3s;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.header__hero__left__title__btns__one:hover {
    background-color: white;
    color: black;
}

.header__hero__left__title__btns__two {
    max-width: 163.8px;
    width: 100%;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.header__hero__left__title__btns__two p {
    text-decoration: underline;
    color: #02897A;
}

.bx {
    color: #02897A;
    font-size: 30px;
}